.topo img {
  width: 100%;
  height: 300px;
}

.navbar {
  position: absolute;
  top: 90px;
  right: 0px;
  background-color: #ffffff;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li a {
  color: rgb(232, 9, 9);
  text-decoration: none;
  font-size: 16px;
}




