

.parte3 {
  color: white;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  margin-top: 15px;
}

.texto {
  width: 500px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.533);
  padding: 30px;
  margin-left: 130px;
  color: #000;
}

.img {
  width: 400px;
  height: 260px;
  object-fit: cover;
}





