.funfo {
  background-image: url("/img/guitarra_fundo_body.jpg");
}


.fundo {
  background-color: rgba(65, 24, 24, 0.7);
  width: 100%;
  padding: 15px 0;
}


.parte4 {
  background-color: white;
  width: 1225px;
  padding: 40px;
  display: flex;
  justify-content: center;
}


.formulario {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-left: 30px;
}


form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 15px;
}

input, textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
}


button {
  background-color: #d3d3d3;

}

.redes {
  text-align: center;
  color: #0000ff;
  margin-top: 10px;
  margin-right: 90px;
}

.icone {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.icone img {
  width: auto;
  height: 80px;
}