#parte1 {
  background-color: #b60000;
  margin-top: 8px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.conteudo {
  display: flex;
  gap: 20px;
}

.texto {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.loja img {
  width: 155%;
  height: 250px;
}



